# Exercise 1
Write a program to sum all the items in a list.

L = [1, 6, 10] ==> Output: 17

In [1]:
# Your answer goes here

17

# Exercise 2
Find all the numbers between 1800 and 1995 (both included) that are divisible by 7 and multiple of 5.

How many are there?

In [2]:
# Your answer goes here

[1820, 1855, 1890, 1925, 1960, 1995]
6

# Exercise 3
Write a program that prints each item and its corresponding type from the following list.

In [3]:
datalist = [1452, 11.23, 1+2j, True, 'Python', (0, -1), [5, 12], {"class":'V', "section":'A'}, {1,2,3}]

In [4]:
# Your answer goes here

Type of 1452 is: <class 'int'>
Type of 11.23 is: <class 'float'>
Type of (1+2j) is: <class 'complex'>
Type of True is: <class 'bool'>
Type of Python is: <class 'str'>
Type of (0, -1) is: <class 'tuple'>
Type of [5, 12] is: <class 'list'>
Type of {'class': 'V', 'section': 'A'} is: <class 'dict'>
Type of {1, 2, 3} is: <class 'set'>

# Exercise 4
Write a program which iterates the integers from 1 to 20. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

Sample Output : 

1

2

fizz

4 

buzz

In [5]:
# Your answer goes here

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz

# Exercise 5
Write a program to convert temperatures to and from celsius, fahrenheit.

[ Formula : c = (f - 32) * 5/9 [ where c = temperature in celsius and f = temperature in fahrenheit ]

In [6]:
# Your answer goes here

Input the  temperature you like to convert? (e.g., 45F, 102C, etc.) : 70f
The temperature in Celsius is 21 degrees.

# Exercise 6
Convert the following for loop to a one-liner using list comprehension:

In [1]:
numbers = [5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5]

In [2]:
L = []
for n in numbers:
    L.append(n ** 2)
L

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]

In [3]:
# Your answer goes here

[25, 16, 9, 4, 1, 0, 1, 4, 9, 16, 25]

# Exercise 7
Convert the following for loop to a one-liner using list comprehension:

In [4]:
numbers = [5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5]

In [5]:
L = []
for val in numbers:
    if val <= 0:
        L.append(val ** 2)
L

[0, 1, 4, 9, 16, 25]

In [6]:
# Your answer goes here

[0, 1, 4, 9, 16, 25]

# Exercise 8
Using a list comprehension, create a new list called `newlist` out of the list `numbers`, which contains only the positive numbers from the list, as integers.

In [7]:
numbers = [4.2, -0.01, 1.1, -1.5, -2.2, 5.4, -3.5, 3.7, 2.8, -4.3, -5]

In [8]:
# Your answer goes here

[4, 1, 5, 3, 2]