# Assignment 2

## Data

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. The data was taken from Kaggle. The `athlete_events` Dataset contains $271,116$ rows and $15$ columns.

**Source:**

Griffin, R, H (2018) 120 years of Olympic history: athletes and results, athlete_events, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#athlete_events.csv

**ATTRIBUTES:**

**athlete_events.csv**

| Column Name | Data Type | Description/Notes |
|:----:|:----:|:----|
| ID |  integer | Unique number for each athlete |
| Name | string | Athleteâ€™s name |
| Sex | string | M or F |
| Age | integer |  |
| Height | integer | In centimeters |
| Weight | integer | In kilograms |
| Team | string | Team name |
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Games | string | Year and season |
| Year | integer |  |
| Season | string | Summer or Winter |
| City | string | Host city |
| Sport | string |  |
| Event | string |  |
| Medal | string | Gold, Silver, Bronze, or NA |

Download athlete_events.csv from the link above and load it into a DataFrame called `athlete_events`:

In [1]:
# Your answer goes here
import pandas as pd

url = 'https://raw.githubusercontent.com/soltaniehha/Business-Analytics/master/data/athlete_events.csv'
athlete_events = pd.read_csv(url)

Use `info()` method on this DataFrame to get a sense of the data:

In [2]:
# Your answer goes here
athlete_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
ID        271116 non-null int64
Name      271116 non-null object
Sex       271116 non-null object
Age       261642 non-null float64
Height    210945 non-null float64
Weight    208241 non-null float64
Team      271116 non-null object
NOC       271116 non-null object
Games     271116 non-null object
Year      271116 non-null int64
Season    271116 non-null object
City      271116 non-null object
Sport     271116 non-null object
Event     271116 non-null object
Medal     39783 non-null object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

## Question 1
Clearly not every athlete receives a medal in the olympics. How many records have a non-null value for `Medal` field? In other words, how many medals were given according to this dataset?

In [3]:
# Your answer goes here
39783

39783

Use the `head()` method to inspect the first few rows of the data:

In [4]:
# Your answer goes here
athlete_events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

## Question 2

What is the minimum and maximum `Year`?

In [5]:
# Your answer goes here
athlete_events['Year'].min()

1896

In [6]:
# Your answer goes here
athlete_events['Year'].max()

2016

## Question 3

Is the following statement True or False?

> Average age of female athletes who attended the olympic games after 1990 has raised when compared to the era before then.

In [7]:
# Your answer goes here
subset_before_1990 = athlete_events[(athlete_events['Sex'] == 'F') & (athlete_events['Year'] < 1990)]
subset_before_1990['Age'].mean()

22.0290214609175

In [8]:
# Your answer goes here
subset_after_1990 = athlete_events[(athlete_events['Sex'] == 'F') & (athlete_events['Year'] >= 1990)]
subset_after_1990['Age'].mean()

24.62131696199413

## Question 4

How many Gold medals were given to men from 1970 to 2000 (including both years)?

In [9]:
# Your answer goes here
men_gold = athlete_events[(athlete_events['Sex'] == 'M') & (athlete_events['Year'] >= 1970) & (athlete_events['Year'] <= 2000) & (athlete_events['Medal'] == 'Gold')]
men_gold['Medal'].count()

3207

## Question 5

How many athletes attended the olympic games in 1968?

Hint: You can use the method `.unique()` on any pandas Series to get the unique values. Any column subset of a DataFrame returns a Series object.

In [11]:
# Your answer goes here
athlete_events[athlete_events['Year'] == 1968]['Name'].unique().size

6711

## Question 6

Who won the event "Swimming Men's 100 metres Breaststroke" in 2004? Please note that there is a typo in the Event description!

In [11]:
# Your answer goes here
athlete_events[(athlete_events['Year'] == 2004) & 
               (athlete_events['Event'] == "Swimming Men's 100 metres Breaststroke") & 
               (athlete_events['Medal'] == 'Gold')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
120309,60893,Kosuke Kitajima,M,21.0,178.0,73.0,Japan,JPN,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 100 metres Breaststroke,Gold