# Assignment 2

**Generative AI rule:** For this assignment, you are allowed to use generative AI tools for assistance, but the code must be your original work—any code that is not your own will be considered cheating.

## Data

This is a historical dataset on the modern Olympic Games, including all the Games from Athens 1896 to Rio 2016. The data was taken from Kaggle. The `athlete_events` Dataset contains $271,116$ rows and $15$ columns.

**Important note**: Athletes with the same name might not be the same individuals. To accurately distinguish them, make sure to use their unique IDs.

**ATTRIBUTES:**

**athlete_events.csv**

| Column Name | Data Type | Description/Notes |
|:----:|:----:|:----|
| ID |  integer | Unique number for each athlete |
| Name | string | Athlete’s name |
| Sex | string | M or F |
| Age | integer |  |
| Height | integer | In centimeters |
| Weight | integer | In kilograms |
| Team | string | Team name |
| NOC | string | National Olympic Committee, 3 letter code (Matches with `NOC` from noc_regions.csv) |
| Games | string | Year and season |
| Year | integer |  |
| Season | string | Summer or Winter |
| City | string | Host city |
| Sport | string |  |
| Event | string |  |
| Medal | string | Gold, Silver, Bronze, or NA |

**Source:** Griffin, R, H (2018) 120 years of Olympic history: athletes and results, athlete_events, Found at: https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results#athlete_events.csv

Download athlete_events.csv from the link above and load it into a DataFrame called `athlete_events`:

In [ ]:
# Your code goes here

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

Use `info()` method on this DataFrame to get a sense of the data:

In [ ]:
# Your code goes here

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

## Question 1

Identify athletes who meet all of the following criteria:

- They are male (Sex is "M").
- Their age is below 25.
- They have participated in the Summer Olympics.
- They have won a medal.

Once you have filtered the athletes based on the above criteria, calculate the average height and weight of these athletes.

In [1]:
# Your code goes here

## Question 2

Using the dataset, group the athletes by "Team" and calculate the following for each team:

- Which team has the maximum number of atheletes?
- Which team has competed in the highest number of distinct sports?

In [2]:
# Your code goes here

## Question 3

**True or False?**

> The average height of athletes who won a medal in Speed Skating is greater than the average height of athletes who won a medal in Basketball.

Write code to determine if this statement is True or False.

In [3]:
# Your code goes here

## Question 4

Identify athletes who have participated in multiple Olympic events (more than one unique event). For these athletes:

- Calculate the sum of the total number of events they participated in altogether.
- Identify the athletes who have won at least two medals (any type of medal).  How many such atheletes are there?

In [4]:
# Your code goes here

## Question 5

Identify all athletes who have won at least one medal and have participated in two or more different sports. For these athletes:

- Find the total number of different sports each of them participated in. Which athlete has the highest number of sports? And how many?
- Calculate the average number of medals won by these athletes. Which athlete has the maximum number of medals? And how many?

In [5]:
# Your code goes here

## Question 6

Identify the top 3 most common sports in which athletes have won a Gold medal. List the sports in descending order of frequency.

In [6]:
# Your code goes here

## Question 7

As part of a sponsorship deal, a company wants to endorse athletes who have a consistent performance in the Olympics. The company defines consistency for athletes who have participated more than one year and those who have won at least one medal in every year.

How many such athletes exist?

In [7]:
# Your code goes here

## Question 8

A sports analytics firm wants to identify athletes who have shown versatility by competing in both individual and team sports. The firm is particularly interested in those who have won at least one medal in both types of events.

Provide the total number of athletes who have won medals in both individual and team sports.

Note: The following is a list of all team sports to reference for this question:

```
['Basketball', 'Football', 'Tug-Of-War', 'Ice Hockey', 'Handball', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh', 'Sailing', 'Baseball', 'Softball',
'Rugby Sevens', 'Volleyball', 'Beach Volleyball', 'Synchronized Swimming' 'Curling', 'Lacrosse', 'Polo', 'Cricket', 'Military Ski Patrol', 'Croquet']
```

In [8]:
# Your code goes here

## Question 9

A sports health association is analyzing athletes' BMI to assess fitness, defining "fit" as those in the Normal weight category.

1. Create a **BMI** column using **Height** and **Weight**:  
$BMI=\frac{(Weight_{kg})}{Height_m^2}$

Fill missing Height and Weight values with average within the same Sex group and round BMI to 1 decimal place.

2. Count the number of "fit" athletes in the BMI range of 20-28 (inclusive).

Note: some athletes might have different weights and heights over the years. Take an average over all their measurements.

In [9]:
# Your code goes here